<footer>
  <div class="container text-center">
    <p class="pull-left">Copyright © 2015-2017 Rigoberto Molina. All Rights Reserved.</p>
    <ul class="pull-right list-inline">
      <li><small>v1.1.0</small></li>
    </ul>
  </div>
</footer>
