$translucent: rgba(0,0,0,0.0);
$translucent_light: rgba(255, 255, 255, 0.4);
$translucent_dark: rgba(0, 0, 0, 0.4);
$primary: #56CCF2;
$secondary: #2F80ED;
$diagonal_gradient: linear-gradient(to left, $primary, $secondary);
